/.idea
/.vscode
/.vagrant
node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
cgi-bruecke.php
/.phpunit.result.cache
.yarn
.pnp.js
.php_cs.cache
*.cache
storage/settings.json
.php_cs.cache
