#hero {

    background: #424242;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #e0391b, #424242);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #e0391b, #424242); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#android {

    margin-top: 50px;

}

#appstore {

    width: 135px;
    height: 40px;
    background-size: contain;
    background: url(https://linkmaker.itunes.apple.com/assets/shared/badges/de-de/appstore-lrg.svg) no-repeat;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 20px;

}

#details {

    margin-top: 30px;

}

#media {

    background: #424242;  /* fallback for old browsers */

}

#feedback {



}

#business {

    background: #424242;  /* fallback for old browsers */

}

.promo-caption {

    font-size: 1.7em;

}

.promo {

    width: 100%;

}

.promo > i {

    font-size: 7em;

}