/*@import "media-library-pro-styles";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
    display: none;
}

[x-cloak] {
    display: none;
}

.moving-block {
    @apply border border-blue-300 opacity-70;
}

/* .no-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scrollbar-height: none;
} */

@layer utilities {
    @variants responsive {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

.max-h-0 {
    max-height: 0;
}
